body {
  overflow-x: hidden;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

/* navbar */

#navbar {
  background-color: #22130f;
  font-family: 'Roboto', sans-serif;
}

#logo img {
  border-radius: 10px;
  width: 160px;
  margin-left: 40px;
}

.navbar-nav {
  margin-left: 50px;
}

.nav-item .nav-link {
  color: #bcb2ab;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}

.nav-item .nav-link:hover {
  background: #bcb2ab;
  border-radius: 5px;
  color: black;
}

#navbar form button {
  background: #bcb2ab;
  color: black;
  border: 1px solid white;
  font-weight: bold;
  font-size: 20px;
}

#navbar form button:hover {
  background: #22130f;
  color: white;
}


/* navbar */

@media (min-width: 1024px) {
  body {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .btn-group {
    transform: scale(0.8);
    transform-origin: top center;
    margin: 0;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 10px !important;
  }

  #menu-header {
    scale: 0.9;
  }

  .coffee-filter-button {
    width: 100%;
  }

  .back-to-top {
    opacity: 80%;
    bottom: 1.5rem !important;
    right: 1.5rem !important;
    position: fixed;
  }

  .back-to-top img {
    opacity: 80%;
    width: 2rem; 
    height: 2rem; 
    display: block; 
  }

  .back-button {
    top: 1.5rem !important;
    left: 1rem !important;
    border-radius: 50%;
  }

  .back-button img {
    display: block; /* Removes extra space below the image */
    width: 2rem !important;
    height: 2rem !important;
  }
}

@media all {
  .filter, .text-center {
    margin: 1rem auto;
  }

  .coffee-filter-button {
    margin: 0 auto; 
  }
}

#menu-header {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  animation: fade-down .5s forwards;
}

.btn-group {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: center;
  margin: 1rem;
  animation: fade-up .5s;
}

.coffee-filter-button {
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  border-radius: 0.5rem;
  padding: .5rem 1.5rem;
  margin: 0.5rem 1rem 1rem 0.5rem;
  max-width: 10rem;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
}
  
  .coffee-filter-button:hover,
  .coffee-filter-button:focus {
    background-color: #ccc;
  }
  
  .coffee-filter-button.active {
    background: #65350F;
    color: white;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.2);
  }

#coffee-container {
  padding: 2rem;
  border-radius: 50px;
  background: #faf7f5;
  box-shadow:  15px 15px 30px #d5d2d0,
              -15px -15px 30px #ffffff;
  min-width: 20rem;
  max-width: 20rem;
  max-height: 28rem;
  margin: 1.5rem auto;
  animation: fade-up .5s forwards;
}


.menu-details {
  text-align: left;
}

#coffee-pic {
  display: block;
  margin: 0 auto;
  border-radius: 2rem;
  width: 15rem;
  height: 15rem;
}

.menu-title {
  margin-top: 2rem;
}

.back-button {
  animation: fade-down 1s forwards;
  z-index: 2;
  top: 1rem;
  left: 2rem;
  position: absolute;
  border-radius: 50%;
  background: none; /* Removes default button background */
  border: none; /* Removes default button border */
  padding: 0; /* Removes default button padding */
}

.back-button img {
  display: block; /* Removes extra space below the image */
  width: 3rem;
  height: 3rem;
}

.back-button:hover {
  animation: bigger 1s forwards;
}

.back-to-top {
  position: fixed; 
  bottom: 3rem; 
  right: 3rem; 
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  opacity: 0; 
  transition: opacity 0.3s ease;
  z-index: 2; 
}

.back-to-top img {
  width: 4rem; 
  height: 4rem; 
  display: block; 
}

.back-to-top:hover img {
  animation: bigger 0.75s forwards; 
}

.show {
  opacity: 1; 
}


@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(15px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(10px) scale(1);
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

